


#header {
  background: #27284d;
  width: 100%;
  height: 80px;
  top: 0;
  position: fixed;
}
#header h1 {
  display: none;
}
#header ul {
list-style: none;
word-spacing: 30px;
}
#header li {
  display: inline-block;
  padding-top: 20px;
  text-transform: uppercase;
}
#header a {
  font-size: 18pt;
  color: #e8ddce;
  text-decoration: solid;
  font-weight: 200;
}
#header a:hover {
  background-color: #ddd;
  color: black;
  transition: 1s;
}
#logo {
  margin: 4px;
  float: left;
  width: 72px;
  height: 72px;
  background: no-repeat center;
  display: block;
}
#header nav {
  float: right;
  padding-right: 20px;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
}
#menu-icon {
  background: url(https://i.ibb.co/5vRFHbL/menu-icon.png) no-repeat center;
  display: hidden;
  width: 32px;
  height: 32px;
  padding: 13px 0 13px 0;
}

@media only screen and (max-width:900px) {
  #header {
      position: absolute;
  }
  #menu-icon {
      display: inline-block;
  }
  nav ul, nav:active ul {
      display: none;
      position: absolute;
      padding: 10px;
      margin: 0;
      background: #27284d;
      right: 10px;
      width: 35%;
  }
  nav:hover ul {
      display: block;
  }
  nav li {
      text-align: center;
      width: 100%;
      margin: 0;
  
  }  
}

  * {
    margin: 0;
    padding: 0;
  }
  .top-container {
    
    justify-content: center;
    align-items: center;
    max-height: 480px;
    padding: 300px 0 300px 0;
    background: #000;
    font-family: 'Montserrat', sans-serif;
  }
  a {
    text-decoration: none;
    color: inherit;
    font-size: 24px;
  }
  
  #top-container {
    font-weight: 800;
    text-align: center;
    font-size: 40px;
    font-family: Hack, sans-serif;
    text-transform: uppercase;
    background: linear-gradient(90deg, #000, #fff, #000);
    letter-spacing: 5px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 5s linear infinite;
    position: relative;
  }
  
  @keyframes shine {
    0% {
      background-position-x: -500%;
    }
    100% {
      background-position-x: 500%;
    }
  }

  h2
{
    margin-top: 0;
    margin: 0 auto 0 auto;
    font-size: 3rem;
    font-family: 'Bree Serif', serif;
    font-weight: normal; 
}

body
{
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #EEEDDE;
}

.container
{
    
    padding: 100px auto 200px auto;
    text-align: center;
    font-size: larger;
}

form.container {
    display: table;
    align-items: center;
}


.software {
    margin-left: auto;
    margin-right: auto;
  }

.middle-container
{
    
    padding: 30px 0 80px;
}

.bottom-container
{
    background-color: #6bb0c2;
    padding: 50px 0 20px;
}

.copyright
{
    font-family: 'Montserrat', sans-serif;
    animation: none;
    
}

.p.copyright
{
    font-family: 'Montserrat', sans-serif;
}


:root {
	--delay: 0;
	--duration: 800ms;
	--iterations: 1;
}
/* •·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */


.reveal-text,
.reveal-text::after {
	animation-delay: var(--animation-delay, 2s);
	animation-iteration-count: var(--iterations, 1);
	animation-duration: var(--duration, 800ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.reveal-text {
	--animation-delay: var(--delay, 0);
	--animation-duration: var(--duration, 800ms);
	--animation-iterations: var(--iterations, 1);
	position: relative;
	font-size: 10vw;
	animation-name: clip-text;
	color: black;
	white-space: nowrap;
	cursor: default;
            }
	
.reveal-text:after {
		content: "";
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #34236e;
        animation-delay: 1.5s;
		transform: scaleX(0);
		transform-origin: 0 50%;
        transition-delay: 8s;
		pointer-events: none;
		animation-name: text-revealer;
	}

@keyframes clip-text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}


@keyframes text-revealer {
	
	0%, 50% {
		transform-origin: 0 50%;
	}
	
	60%, 100% {
		transform-origin: 100% 50%;		
	}

	
	60% {
		transform: scaleX(1);
	}
	
	100% {
		transform: scaleX(0);
	}
}

@media (prefers-reduced-motion: no-preference) {
    .reveal-text {
      transition: opacity 3.5s ease, transform 4.5s ease;
    }
  }
  

.reveal-text-transition {
    opacity: 1;
    transform: none;
}
